.text-color {
  font-weight: bold;
  text-decoration: none;
}

.button-save {
  border: #7126b5 !important;
  background-color: #7126b5 !important;
  border-radius: 10px;
  height: 50px;
  color: white;
}

.pay {
  border: #ff0000;
  background-color: #ff0000;
  border-radius: 15px;
  height: 50px;
  color: white;
}
